@font-face {
  font-family: "Trajan";
  src: local("Trajan"), url("../../assets/fonts/Trajan\ Pro\ Regular.ttf");
}

.trajan {
  font-family: "Trajan";
}

.correct {
  animation: fadein 300ms ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
