@font-face {
  font-family: "Trajan";
  src: local("Trajan"), url("../../assets/fonts/Trajan\ Pro\ Regular.ttf");
}

.hintItem-1 {
  opacity: 0;
  animation: fadein 500ms ease forwards;
}
.hintItem-2 {
  opacity: 0;
  animation: fadein 500ms ease forwards 300ms;
}
.hintItem-3 {
  opacity: 0;
  animation: fadein 500ms ease forwards 600ms;
}
.hintItem-4 {
  opacity: 0;
  animation: fadein 500ms ease forwards 900ms;
}
.hintItem-5 {
  opacity: 0;
  animation: fadein 500ms ease forwards 1200ms;
}

.wrongItem {
  background: rgba(185, 28, 28, 0.1);
  border: 1px solid #b91c1c;
}

.rightItem {
  background: rgba(21, 128, 60, 0.1);
  border: 1px solid #15803d;
}

.wrongItem:hover {
  background: rgba(185, 28, 28, 0.15);
}

.rightItem:hover {
  background: rgba(21, 128, 60, 0.15);
}

.hintCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 10em;
  height: 9em;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: all;
  text-align: center;
}

.guessDesc {
  position: relative;
  font-family: "Trajan", sans-serif;
}

.arrowUp {
  position: absolute;
  rotate: -90deg;
  right: -25px;
  top: -1px;
}

.arrowDown {
  position: absolute;
  rotate: 90deg;
  right: -25px;
  top: -1px;
}

/* border border-red-800 bg-red-700 bg-opacity-15 group hover:bg-opacity-20 */

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
