@font-face {
  font-family: "Trajan";
  src: local("Trajan"), url("../../assets/fonts/Trajan\ Pro\ Regular.ttf");
}

.guessDesc {
  font-family: "Trajan", sans-serif;
}

.guessesItem-1 {
  opacity: 0;
  animation: fadein 500ms ease forwards;
}
.guessesItem-2 {
  opacity: 0;
  animation: fadein 500ms ease forwards 400ms;
}
.guessesItem-3 {
  opacity: 0;
  animation: fadein 500ms ease forwards 800ms;
}
.guessesItem-4 {
  opacity: 0;
  animation: fadein 500ms ease forwards 1200ms;
}
.guessesItem-5 {
  opacity: 0;
  animation: fadein 500ms ease forwards 1600ms;
}

.guessCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 9em;
  height: 8em;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: all;
  text-align: center;
}

/* border border-red-800 bg-red-700 bg-opacity-15 group hover:bg-opacity-20 */

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
